<!DOCTYPE html>
<html lang="fr">
<head>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/api.js"></script>
    <meta charset="UTF-8">
    <title>JustStreamIt</title>
</head>
<body>
<header>            <div class="logo">JustStreamIt</div>
    <nav>
                    <div class="navigation-link"><a href="">Accueil</a> | <a href="">Catégories</a></div>
    </nav>
</header>
        <section class="container">
                    <div class="container_image"></div>
                    <div class="container_button"><button id="BestButton">Informations</button></div>
        </section>




<!-- The Modal -->
<div id="Modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="Modal_image"></div>
      <img src="" alt="Image Movie">
      <div>
            <div class="Modal_Title">Titre : </div> <div class="Modal">Le Titre du film</div>
            <div class="Modal_genres">Genres : </div> <div class="Modal">Le genre complet du film</div>
            <div class="Modal_year">Date de sortie : </div><div class="Modal">Sa date de sortie</div>
            <div class="Modal_rated">Rated : </div> <div class="Modal">Son Rated</div>
            <div class="Modal_scored">Score IMBD : </div><div class="Modal">Son score Imdb</div>
            <div class="Modal_realisator">Réalisateurs : </div> <div class="Modal">Son réalisateur</div>
            <div class="Modal_actors">Acteurs : </div> <div class="Modal">La liste des acteurs</div>
            <div class="Modal_duration">Durée : </div> <div class="Modal">Sa durée</div>
            <div class="Modal_country">Pays : </div> <div class="Modal">Le pays d’origine</div>
            <div class="Modal_result">Résultats Box Office : </div><div class="Modal">Le résultat au Box Office</div>
            <div class="Modal_description">Résumé du film : </div><div class="Modal">Le résumé du
          film</div>
      </div>
  </div>

</div>
        <h2 class="title">Films les mieux notés</h2>
        <section id="BestMovies" class="categorie">

                    <div class="-item1 grid1"></div>
                    <div class="-item2 grid2"></div>
                    <div class="-item3 grid3"></div>
                    <div class="-item4 grid4"></div>
                    <div class="-item5 grid5"></div>
                    <div class="-item6 grid6"></div>
                    <div class="-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </section>
            <h2 class="title">Catégorie Aventures</h2>
            <section id="Aventures" class="categorie">
                    <div class="Adventure-item1 grid1"></div>
                    <div class="Adventure-item2 grid2"></div>
                    <div class="Adventure-item3 grid3"></div>
                    <div class="Adventure-item4 grid4"></div>
                    <div class="Adventure-item5 grid5"></div>
                    <div class="Adventure-item6 grid6"></div>
                    <div class="Adventure-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
        </section>
            <h2 class="title">Catégorie Sci-Fi</h2>
            <section id="SciFi" class="categorie">
                    <div class="Sci-Fi-item1 grid1"></div>
                    <div class="Sci-Fi-item2 grid2"></div>
                    <div class="Sci-Fi-item3 grid3"></div>
                    <div class="Sci-Fi-item4 grid4"></div>
                    <div class="Sci-Fi-item5 grid5"></div>
                    <div class="Sci-Fi-item6 grid6"></div>
                    <div class="Sci-Fi-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
        </section>
            <h2 class="title">Catégorie Action</h2>
            <section id="Action" class="categorie">
                    <div class="Action-item1 grid1"></div>
                    <div class="Action-item2 grid2"></div>
                    <div class="Action-item3 grid3"></div>
                    <div class="Action-item4 grid4"></div>
                    <div class="Action-item5 grid5"></div>
                    <div class="Action-item6 grid6"></div>
                    <div class="Action-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
           </section>

        <footer>
            <p class="footer">Maquette - JustStreamIt</p>
        </footer>
</body>
    <script src="../static/modal.js"></script>
    <script src="../static/slide.js"></script>
</html>