<!DOCTYPE html>
<html lang="fr">
<head>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/api.js"></script>
    <meta charset="UTF-8">
    <title>JustStreamIt</title>
</head>
<body>
<header>            <div class="logo">JustStreamIt</div>
    <nav>
                    <div class="navigation-link"><a href="">Accueil</a> | <a href="">Catégories</a></div>
    </nav>
</header>
        <section class="container">
                    <div class="container_image"></div>
                    <div class="container_button"><button id="BestButton">Informations</button></div>
        </section>




<!-- The Modal -->
<div id="Modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="Modal_image"></div>
      <div>
          <ul>
              <li class="Modal_Title">Le Titre du film</li>
              <li class="Modal_genres">Le genre complet du film</li>
              <li class="Modal_year">Sa date de sortie</li>
              <li class="Modal_rated">Son Rated</li>
              <li class="Modal_scored">Son score Imdb</li>
              <li class="Modal_realisator">Son réalisateur</li>
              <li class="Modal_actors">La liste des acteurs</li>
              <li class="Modal_duration">Sa durée</li>
              <li class="Modal_country">Le pays d’origine</li>
              <li class="Modal_result">Le résultat au Box Office</li>
              <li class="Modal_description">Le résumé du film</li>
          </ul>
      </div>
  </div>

</div>

        <section id="BestMovies" class="categorie">
            <h2 class="title">Films les mieux notés</h2>
                    <div class="-item1 grid1"></div>
                    <div class="-item2 grid2"></div>
                    <div class="-item3 grid3"></div>
                    <div class="-item4 grid4"></div>
                    <div class="-item5 grid5"></div>
                    <div class="-item6 grid6"></div>
                    <div class="-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </section>
            <section id="Aventures" class="categorie">
            <h2 class="title">Catégorie Aventures</h2>
                    <div class="Adventure-item1 grid1"></div>
                    <div class="Adventure-item2 grid2"></div>
                    <div class="Adventure-item3 grid3"></div>
                    <div class="Adventure-item4 grid4"></div>
                    <div class="Adventure-item5 grid5"></div>
                    <div class="Adventure-item6 grid6"></div>
                    <div class="Adventure-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
        </section>
            <section id="Sci-Fi" class="categorie">
            <h2 class="title">Catégorie Sci-Fi</h2>
                    <div class="Sci-Fi-item1 grid1"></div>
                    <div class="Sci-Fi-item2 grid2"></div>
                    <div class="Sci-Fi-item3 grid3"></div>
                    <div class="Sci-Fi-item4 grid4"></div>
                    <div class="Sci-Fi-item5 grid5"></div>
                    <div class="Sci-Fi-item6 grid6"></div>
                    <div class="Sci-Fi-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
        </section>
            <section id="Action" class="categorie">
            <h2 class="title">Catégorie Action</h2>
                    <div class="Action-item1 grid1"></div>
                    <div class="Action-item2 grid2"></div>
                    <div class="Action-item3 grid3"></div>
                    <div class="Action-item4 grid4"></div>
                    <div class="Action-item5 grid5"></div>
                    <div class="Action-item6 grid6"></div>
                    <div class="Action-item7 grid7"></div>
                    <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
           </section>

        <footer>
            <p class="footer">Maquette - JustStreamIt</p>
        </footer>
</body>
    <script src="../static/modal.js"></script>
</html>